* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: darkgray;
}

section {
    display: block;
    margin: 2rem auto 0 auto;
    width: 80%;
    font-size: 0;
    position: relative;
}

section>div {
  display: inline-block;
  width: 45%;
}

div:first-child img{
  width: 110%;
  height: 41rem;
}

div:last-child {
  position: absolute;
  top: 10%;
  left: 50%;
}

div:last-child img {
  width: 5rem;
  height: 5rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
}

 h1 {
  font-size: 3.5rem;
  font-weight: bold;
  color: black;
  line-height: 1.1;
  margin-left: 2rem;
}

p {
  font-size: 1.2rem;
  color: darkgray;
  letter-spacing: -1px;
  line-height: 1.6;
  font-weight: 300;
  margin-left: 2rem;
  padding: 0.8rem 0;
}

form {
  margin-left: 2rem;
}

input {
  padding: 0.9rem;
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 1.1rem;
  width: 390px;
  border: 2px solid lightgray;
}

input[type="submit"] {
  color: white;
  background-color: darkgreen;
  border: 2px solid darkgreen;
  margin-bottom: 0;
}

p:last-child {
  margin-left: 0px;
  padding-top: 0.5rem;
}
